@import 'variables';

.fs-7 {
    font-size: 0.8rem !important;
}
.fs-8 {
    font-size: 0.7rem !important;
}
.bg-gray-100 {
    background-color: $gray-100 !important;
}
.bg-gray-200 {
    background-color: $gray-200 !important;
}
.bg-gray-500 {
    background-color: $gray-500 !important;
}
.border-gray-600 {
    border-color: $gray-600 !important;
}
.text-gray-600 {
    color: $gray-600 !important;
}
.mdi {
    font-size: 23px !important;
    line-height: 1 !important;
}
.btn-icon {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;

    .mdi {
        padding-right: 7px;
    }
}
.btn-icon.btn-sm {
    .mdi {
        font-size: 17px !important;
    }
}
.dropdown-item-icon {
    display: flex !important;
    align-items: center !important;

    .mdi {
        padding-right: 7px;
    }
}
.nav-link-icon {
    display: flex !important;
    align-items: center !important;

    .mdi {
        padding-right: 4px;
    }
}
.btn-danger {
    color: $white !important;
}
.btn-outline-danger:hover {
    color: $white !important;
}
